<form class="form-horizontal well" id="gpx_settings">
    <fieldset>
        <legend>GPX</legend>
        <div class="control-group">
            <div class="controls" data-toggle="tooltip" title="{{ _('Use GPX to translate between gcode and x3g. Change takes effect on next connect.') }}">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.GPX.enabled"> {{ _('Enable GPX') }}
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Machine type:') }}</label>
            <div class="controls" data-toggle="tooltip" title="{{ _('Choose which machine type gpx should use for the conversion. Gcode uses mm and x3g uses steps, so gpx needs to know how many steps per mm among other things.') }}">
                <select data-bind="value: ini.printer.machine_type">
                    <option value="c3">{{ _('Cupcake Gen3 XYZ, Mk5/6 + Gen4 Extruder') }}</option>
                    <option value="c4">{{ _('Cupcake Gen4 XYZ, Mk5/6 + Gen4 Extruder') }}</option>
                    <option value="cp4">{{ _('Cupcake Pololu XYZ, Mk5/6 + Gen4 Extruder') }}</option>
                    <option value="cpp">{{ _('Cupcake Pololu XYZ, Mk5/6 + Pololu Extruder') }}</option>
                    <option value="fcp">{{ _('FlashForge Creator Pro') }}</option>
                    <option value="t6">{{ _('TOM Mk6 - single extruder') }}</option>
                    <option value="t7">{{ _('TOM Mk7 - single extruder') }}</option>
                    <option value="r1">{{ _('Replicator 1 - single extruder') }}</option>
                    <option value="r1d">{{ _('Replicator 1 - dual extruder') }}</option>
                    <option value="r2">{{ _('Replicator 2 (default)') }}</option>
                    <option value="r2h">{{ _('Replicator 2 with HBP') }}</option>
                    <option value="r2x">{{ _('Replicator 2X') }}</option>
                    <option value="cxy">{{ _('Core-XY with HBP - single extruder') }}</option>
                    <option value="cxysz">{{ _('Core-XY with HBP - single extruder, slow Z') }}</option>
                    <option value="z">{{ _('ZYYX - single extruder') }}</option>
                    <option value="zd">{{ _('ZYYX - dual extruder') }}</option>
                </select>
                <button class="btn" data-bind="click: showMachineDialog">{{ _('Edit Machine Definition...') }}</button>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Print Settings</legend>
        <div class="control-group">
            <label class="control-label">{{ _('Gcode flavor:') }}</label>
            <div class="controls" data-toggle="tooltip" title="{{ _('Indicates what flavor of gcode the slicer generated for uploaded gcode files. Reprap flavor recommended.') }}">
                <select data-bind="value: ini.printer.gcode_flavor">
                    <option value="reprap">{{ _('RepRap') }}</option>
                    <option value="makerbot">{{ _('MakerBot') }}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Recalc build progress:') }}</label>
            <div class="controls" data-toggle="tooltip" title="{{ _('Instruct GPX to recompute and replace the slicer\'s build progress reporting in gcode files') }}">
                <select class="select-mini" data-bind="value: ini.printer.build_progress">
                    <option value=undefined>{{ _('') }}</option>
                    <option value=0>{{ _('No') }}</option>
                    <option value=1>{{ _('Yes') }}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Ditto printing:') }}</label>
            <div class="controls" data-toggle="tooltip" title="{{ _('Include both extruders in the commands so that two prints occur simultaneously, one extruder offset apart.') }}">
                <select class="select-mini" data-bind="value: ini.printer.ditto_printing">
                    <option value=undefined>{{ _('') }}</option>
                    <option value=0>{{ _('No') }}</option>
                    <option value=1>{{ _('Yes') }}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Nominal filament width:') }}</label>
            <div class="controls" data-toggle="tooltip" title="{{ _('Filament diameter used by the slicer when generating the gcode. GPX scales the extrusion to compensate for differences between nominal and actual diameter so you can avoid reslicing for different filaments. Leave at 0 to just use extrusion as specified in the gcode.') }}">
                <div class="input-append">
                    <input type="number" step="0.01" class="input-mini text-right" data-bind="value: ini.printer.nominal_filament_diameter">
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <!-- TODO move to per extruder -->
        <div class="control-group">
            <label class="control-label">{{ _('Actual filament width:') }}</label>
            <div class="controls" data-toggle="tooltip" title="{{ _('Actual diameter of the incoming filament. Measure using calipers in three spots and average them together. Set to 0 to use the extrusion amounts from the gcode without adjustment.') }}">
                <div class="input-append">
                    <input type="number" step="0.01" class="input-mini text-right" data-bind="value: ini.machine.actual_filament_diameter">
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Recalculate extrusion:') }}</label>
            <div class="controls" data-toggle="tooltip" title="{{ _('Recalculate and override the slicers extrusion amounts using actual and nominal filament diameters combined with packing density') }}">
                <select class="select-mini" data-bind="value: ini.printer.recalculate_5d">
                    <option value=undefined>{{ _('') }}</option>
                    <option value=0>{{ _('No') }}</option>
                    <option value=1>{{ _('Yes') }}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Packing density:') }}</label>
            <div class="controls" data-toggle="tooltip">
                <div class="input">
                    <input type="number" step="0.01" class="input-mini text-right" data-bind="value: ini.printer.packing_density">
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div id="gpx_machine_settings" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Edit Machine Settings') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Nozzle diameter:') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: machine.machine.nozzle_diameter">
                        <span class="add-on">mm</span>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                    <th class="label-column"></th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                </thead>
                <tr data-toggle="tooltip" data-placement="bottom" title="{{ _('GPX will clip feedrates specified by the gcode above this value.  Units are mm per min.') }}">
                    <td class="label-column text-right">{{ _('Max Feedrate:') }}</td>
                    <td><input type="number" step="1" class="input-mini text-right" data-bind="value: machine.x.max_feedrate"></td>
                    <td><input type="number" step="1" class="input-mini text-right" data-bind="value: machine.y.max_feedrate"></td>
                    <td><input type="number" step="1" class="input-mini text-right" data-bind="value: machine.z.max_feedrate"></td>
                </tr>
                <tr data-toggle="tooltip" data-placement="bottom" title="{{ _('Travel rate when executing "home" gcodes.') }}">
                    <td class="label-column text-right">{{ _('Home Feedrate:') }}</td>
                    <td><input type="number" step="1" class="input-mini text-right" data-bind="value: machine.x.home_feedrate"></td>
                    <td><input type="number" step="1" class="input-mini text-right" data-bind="value: machine.y.home_feedrate"></td>
                    <td><input type="number" step="1" class="input-mini text-right" data-bind="value: machine.z.home_feedrate"></td>
                </tr>
                <tr data-toggle="tooltip" data-placement="bottom" title="{{ _('Steps on the stepper motor per mm of linear travel along the axis.') }}">
                    <td class="label-column text-right">{{ _('Steps per mm:') }}</td>
                    <td><input type="number" step="0.000001" class="input-mini text-right no-spinner" data-bind="value: machine.x.steps_per_mm"></td>
                    <td><input type="number" step="0.000001" class="input-mini text-right no-spinner" data-bind="value: machine.y.steps_per_mm"></td>
                    <td><input type="number" step="0.000001" class="input-mini text-right no-spinner" data-bind="value: machine.z.steps_per_mm"></td>
                </tr>
                <tr data-toggle="tooltip" data-placement="top" title="{{ _('Direction of home on the axis.  Maximum or minimum end of the axis.') }}">
                    <td class="label-column text-right">{{ _('Home:') }}</td>
                    <td><select class="select-mini" data-bind="value: machine.x.endstop">
                        <option value="undefined">{{ _('') }}</option>
                        <option value="1">{{ _('Min') }}</option>
                        <option value="0">{{ _('Max') }}</option>
                    </select></td>
                    <td><select class="select-mini" data-bind="value: machine.y.endstop">
                        <option value="undefined">{{ _('') }}</option>
                        <option value="1">{{ _('Min') }}</option>
                        <option value="0">{{ _('Max') }}</option>
                    </select></td>
                    <td><select class="select-mini" data-bind="value: machine.z.endstop">
                        <option value="undefined">{{ _('') }}</option>
                        <option value="1">{{ _('Min') }}</option>
                        <option value="0">{{ _('Max') }}</option>
                    </select></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn pull-left" data-bind="click: requestMachineDefaults">{{ _('Reset to default') }}</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</button>
        <button class="btn btn-primary" data-bind="click: saveMachineSettings">{{ _('Save') }}</button>
    </div>
</div>
